html{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
}
*,
*:before,
*:after{
    box-sizing: inherit;
    max-width: 100%;
    margin: 0;
}

.body{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    min-height: 100%;
    min-width: 100%;
}

.header{
    background-color: turquoise;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.home-tab{
    background-color: beige;
}

.menu-tab{
    background-color: violet;
}

.contact-tab{
    background-color: orange;
}

.main-content{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: darksalmon;
}

.home{
    background-color: green;
    height: 15px;
}