@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --menu: rgb(142, 0, 0);
    --home: rgb(245, 239, 220);
    --contact: orange;
    --shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
}

html,
body{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex: 1;
}
*,
*:before,
*:after{
    box-sizing: inherit;
    max-width: 100%;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}

.body{
    display: grid;
    grid-template-rows: 1fr 8fr .5fr;
    flex: 1;
    min-height: 100%;
    min-width: 100%;
}

/* Begin header */

.header{
    background-color: turquoise;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
}

.title{
    padding: 0 10px;
    font-size: 2.5rem;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 1.5rem;
}

.home-tab{
    background-color: var(--home);
}

.menu-tab{
    background-color: var(--menu);
}

.contact-tab{
    background-color: var(--contact);
}

/* End header */

/* Begin main content */

.main-content{
    background: url('./images/main-dip.jpg');
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    flex: 1;
    flex-direction: column;
    background-color: darksalmon;
}

.home{   
    flex: 1;
    height: 100%;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
}

.intro{
    background-color: var(--home);
    box-shadow: var(--shadow);
    height: 60%;
    width: 60%;
    color: black;
    border: groove 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.photo-credit{
    justify-self: end;
    padding-right: 5px;
    padding-bottom: 5px;
}

a:link{
    color: white;
}

a:visited{
    color: orange;
}

.menu{
    background-color: var(--menu);
    flex: 1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 60%;
    gap: 5px;
    padding: 5px;
}

.menu-item{
    border: solid black 2px;
    background-color: rgb(255, 177, 108);
    box-shadow: var(--shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.2rem 0;
}


.item-description{
    font-style: italic;
    font-weight: 100;
}

.contact{
    background-color: var(--contact);
    box-shadow: var(--shadow);
    height: 100%;
    width: 60%;
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    border: 2px groove black;
}

/* End main content */

.footer{
    background-color: firebrick;
    box-shadow: var(--shadow);
    flex: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    color: var(--home);
}